
.editor-detail-container{
  margin-top: 15px!important;
  display: flex;
  flex-direction: column;
  .api-info-content{
    flex: 0 auto;
    margin-bottom: 15px;
  }
  .editor-main{
    display: flex;
    width: 100%;
    flex: 1;
    overflow: hidden;
  }
}

.editor-main{
  .editor-fields{
    flex: 0 auto;
    width: 500px;
    height: 100%;
    border: 1px solid #eee;
    padding: 10px;
    margin-right: 15px;
    overflow: hidden;
    overflow-y: auto;

    .editor-fields-wrapper{
      
    }

    .editor-fields__item{
      display: inline-block;
      width: 200px;
      border: 1px dotted #ccc;
      padding: 3px 6px;
      border-radius: 2px;
      margin-right: 7px;
      margin-bottom: 2px;
      overflow: hidden;
      cursor: move;

      p{
        font-weight: bold;
        margin-bottom: 0;
      }
      small{
        display: block;
        margin-bottom: 0;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #888;
      }
      &:hover{
        border-color: #1b90ff;
        background-color: #a6d4ff18;
      }
    }

  }


  // 编辑器
  .editor-main-content{
    flex: 1;
    height: 100%;
    border: 1px solid #eee;
    .drag-node-hover{
      border: 1px solid red;
    }
    .ant-tabs .ant-tabs-nav{
      margin-bottom: 0!important;
    }
    .editor-main-body, .ant-tabs, .ant-tabs-content-holder .ant-tabs-content {
      width: 100%;
      height: 100%;
    }
    .editor-main-body__box{
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .editor-main-body__header{
      height: 40px;
      flex: 0 auto;
      display: flex;
      padding: 0 10px;
      align-items: center;
      flex-wrap: nowrap;
      &__component{
        padding: 3px 8px;
        border: 1px solid #eee;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
          background-color: #4fa5f518;
        }
      }
    }
    .editor-main-body__scroll{
      flex: 1;
      overflow: hidden;
      overflow-y: auto;
    }
  }
}