.DS_Store
node_modules
coverage
temp
explorations
TODOs.md
*.log
locals.json
.dev
.oumi

dist
packages/oumi-swagger-api/example/build
packages/*/lib
packages/oumi-cli-ui/public
!packages/cli-shared-utils/lib
!packages/oumi-cli/lib