.DS_Store
node_modules
coverage
temp
explorations
TODOs.md
*.log
locals.json
.dev
.oumi

packages/oumi-swagger-api/example/build

packages/oumi-cli/lib
packages/oumi-kernel/lib
packages/oumi-webpack-runner/lib