**/*.svg
package.json
dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
*.md
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
/public
locals.json
/packages/cli-shared-utils
/packages/oumi-cli-ui/public
/packages/oumi-swagger-api/lib

/packages/cli-shared-utils
/packages/oumi-cli/lib
/packages/block-sdk/lib
/packages/oumi-swagger-api/example
/packages/oumi-cli-ui/lib
/packages/oumi-kernel/lib
/packages/oumi-webpack-runner/lib

/packages/babel-preset