**/*.svg
package.json
dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
*.md
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
/public
locals.json
/packages/cli-shared-utils
/packages/oumi-cli-ui/public
/packages/oumi-swagger-api/lib