.deps-container{
  padding-left: 30px!important;
  max-width: 900px;
  height: calc(100vh - 96px);
  position: relative;
  overflow: hidden;
  min-height: auto!important;
  padding-right: 10px!important;
  .deps-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  .wrapper-deps-list{
    padding-right: 10px;
    height: calc(100vh - 96px - 130px);
    overflow: hidden;
    overflow-y: auto;
  }
  .deps-list {
    width: 100%;
    li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 12px;
      margin: 7px 0;
      img {
        max-width: 100%;
      }
      .deps-logo{
        width: 42px;
        flex: 0 0 auto;
        margin-right: 20px;
      }
      .deps-content{
        flex: 1;
        .name{
          font-size: 18px;
          margin-bottom: 10px;
        }
        .description{
          display: flex;
          > span {
            width: 160px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #6a8bad;
          }
          .link{
            margin-left: 10px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      .deps-button{
        flex: 0 0 auto;
        width: 100px;
        text-align: right;
        span{
          padding: 0 2px;
          cursor: pointer;
          svg{
            font-size: 20px;
            color: #666;
          }
        }
      }
    }
  }

  .progress {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, .8);
    z-index: 9;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
  }
}