.dashboard-main{
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 2;

  .dashboard-body{
    flex: auto 1 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: #e3f1ff;
  }

  .top-header{
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    h2{
      font-size: 28px;
      font-weight: 300;
    }
  }
}