.wrapper-container{
  .container-body{
    flex: auto 1 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: #e3f1ff;
  }

  .header{
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    h2{
      font-size: 28px;
      font-weight: 300;
    }
  }

  .content{
    min-height: 85vh;
    margin: 20px;
    margin-top: 0;
    background: #fff;
    padding: 14px;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgb(151 151 151 / 13%);
    padding-bottom: 20px;
    .error-blocks{
      padding: 10px;
    }
  }
}