@import '../../static/less/theme.less';

.wrapper-container{
  color: @primary-text;

  .ant-tabs{
    color: @primary-text;
  }

  .container-body{
    flex: auto 1 1;
    height: 100%;
    // height: 100vh;
    overflow: hidden;
    // overflow-x: hidden;
    // overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: @primary-bg;
  }

  .container-main{
    flex: 1;
    margin: 0 20px;
    margin-bottom: 15px;
    background: @primary-content;
    padding: 14px;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgb(151 151 151 / 13%);
    padding-bottom: 20px;
    overflow: hidden;
    .error-blocks{
      padding: 10px;
    }
  }

  .header{
    padding: 16px;
    color: @primary-text;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    h2{
      font-size: 28px;
      font-weight: 300;
      color: @primary-text;
    }
    .right-menu{
      padding-right: 30px;
      a{
        color: inherit;
      }
      .icon-radius{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #dee9f3;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-right: 5px;
        transition: all .35s;
        svg {
          font-size: 20px;
        }
        &:hover{
          background: #bdccda;
        }
      }
    }
  }
  
}

.notification-popup{
  width: 340px;
  min-height: 30px;
  padding-top: 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 16px -8px rgba(0,0,0,.08),0 9px 28px 0 rgba(0,0,0,.05),0 12px 48px 16px rgba(0,0,0,.03);
  .ant-list-item{
    padding: 10px;
    &:hover{
      background: #e6f7ff;
    }
  }
  .is-read{
    opacity: .4;
  }
  .bottom-btn{
    line-height: 46px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    cursor: pointer;
    &:hover{
      background: #f6f6f6;
    }
  }
}